<section>
  <form class="main-container" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">

    <div class="row">
      <h3>Reset password form</h3>


      <div class="input-field col s12  s12 m6 l6">
          <label for="email">Email:</label>
          <input type="email" name="email" class="validate" ngModel required />
        </div>



      <div class="input-field col s12 m6 l6">

        <label for="key">Key:</label>
        <input type="text" name="key" placeholder="Copy the token from your email here" ngModel required />
      </div>
    </div>
    <div class="row">


      <div class="input-field col s12 m6 l6">
        <label for="newPassword">New Password:</label>
        <input [type]="hide ? 'newPassword' : 'text'" name="newPassword" class="validate" ngModel required />
        <div class="hidden-pass-icon-container">
          <i id="hidden-pass" class="material-icons prefix " (click)="hide = !hide">{{hide ? 'visibility_off' :
            'visibility'}} </i>
        </div>
      </div>


      <div class="row">
        
      <div class="input-field col s12 m6 l6">
        <input type="submit" value="Reset my password" />
      </div>
      </div>
    </div>

  </form>
</section>

<!-- {{resetPasswordForm.value | json}} -->