<div ng-controller="HomeCtrl" ng-cloak="">
    <span ng-include="'views/header.html'"></span>

    <div class="container">
        {{page}}

        <div>Ensure your brokerage’s lasting and profitable future in the digital era. 
            Focus staff on advising clients and selling insurance rather than processing transactions. 
            Provide the right products for the right risk at the right price. Service and support connected 
            consumers how and when they want. By digitally transforming and adopting the core capabilities of 
            a digital brokerage – market-leading management system, mobility, data analytics, insurer connectivity 
            and the cloud – you position your business to drive extreme efficiency within your brokerage, more profitable 
            interactions with insurers, and enhanced customer experience.</div>
    </div>

<span ng-include="'views/footer.html'"></span>