<!-- <span ng-include="'views/header.html'"></span> -->

<div ng-controller="LoginCtrl" class="container">
        <section class="col s12 m6 container" style="min-width: 280px;">
            <form class="card-panel lighten-2 grey " style="width: auto;" method="post" name="loginForm">
              <div class="center">
                <div class="container">
                  <img ng-src="../img/wawa.png" style="background:white; " class ="card-panel col s12 m6 l3">
                </div>
                  <h4>{{tile}}</h4>
                <div>to continue to <strong>{{appName}}</strong></div>
              
                <div class="input-field col s12">
                  <label for="email">Email:</label>
                  <input class="validate" type="email" id="email" name="email" ng-model="email" required/>
                  <span ng-show="loginForm.email.$touched && loginForm.email.$invalid">Please enter a valid email.</span>
                </div>

                <div class="input-field col s12">
                  <label for="password">Password:</label>
                  <input type="password" id="password" ng-model="password" required/>
                </div>
                <div>
                <a href="#!newuser">New User</a> |
                <a href="">Forgot Password</a>
                </div>
                <div>
                  <input class="btn waves-effect waves-light blue right" ng-click="login(app)" type="submit" value="Login"
                  ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid "/>
                </div>
              </div>
           

              <br/>
              <br/>
            
              <!-- <div class ="center">
                <button class="btn waves-effect waves-light grey" name=""><i class="fab fa-google"></i></button>
                <button class="btn waves-effect waves-light grey" name=""><i class="fab fa-facebook"></i></button>
                <button class="btn waves-effect waves-light grey" name=""><i class="fas fa-plane-departure"></i></button>
                
              </div>
              <div class="center">Comming soon using OAuth</div> -->

            </form>           
        </section>
        </div>


<!-- from the other site
 -->
 <!DOCTYPE html>
 <html ng-app="app">
 <head>
     <meta charset="utf-8" />
     <title>AngularJS User Registration and Login Example & Tutorial</title>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
     <link href="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-content/app.css" rel="stylesheet" />
 </head>
 <body>
 
     <div class="jumbotron">
         <div class="container">
             <div class="col-sm-8 col-sm-offset-2">
                 <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                 <div ng-view></div>
             </div>
         </div>
     </div>
     <div class="credits text-center">
         <p>
             <a href="http://jasonwatmore.com/post/2015/03/10/angularjs-user-registration-and-login-example-tutorial" target="_top">AngularJS User Registration and Login Example & Tutorial</a>
         </p>
         <p>
             <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
         </p>
     </div>
 
     <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
     <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
     <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
     <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
     
     <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app.js"></script>
     <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-services/authentication.service.js"></script>
     <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-services/flash.service.js"></script>
 
     <!-- Real user service that uses an api -->
     <!-- <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-services/user.service.js"></script> -->
 
     <!-- Fake user service for demo that uses local storage -->
     <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-services/user.service.local-storage.js"></script>
 
     <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/home/home.controller.js"></script>
     <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/login/login.controller.js"></script>
     <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/register/register.controller.js"></script>
 </body>
 </html>


          <span ng-include="'views/footer.html'"></span>
