<div ng-controller="NewUserCtrl" ng-cloak="">
    <span ng-include="'views/header.html'"></span>
  

        
<div class="container">
    <section class="col s12 m6 container" style="min-width: 280px;">
        <form class="card-panel lighten-2 grey " style="width: auto;" method="post" name="registerForm">
          <div class="center">
            <!-- <div class="container">
              <img ng-src="../img/wawa.png" style="background:white; " class ="card-panel col s12 m6 l3">
            </div> -->
              <h4>{{title}}</h4>
            <!-- <div>to continue to <strong>{{appName}}</strong></div> -->
          <div class="row">
              <div class="input-field col s6">
                <label for="fname">First Name:</label>
                <input type="text" id="fname" ng-model="fname" required/>
            </div>
            <div class="input-field col s6">
                <label for="lname">Last Name:</label>
                <input type="text" id="lname" ng-model="lname" required/>
            </div>
          </div>
           
            <div class="row">
              <div class="input-field col s12">
                <label for="email">Email:</label>
                <input class="validate" type="email" id="email" name="email" ng-model="email" required/>
                <span ng-show="loginForm.email.$touched && loginForm.email.$invalid">Please enter a valid email.</span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label for="password">Password:</label>
                <input type="password" id="password" ng-model="password" required/>
              </div>
            </div>
            

            <div>
              <input class="btn waves-effect waves-light blue right" ng-click="register(app)" type="submit" value="Register" />
              <!-- ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid "/> -->
            </div>
          </div>
       

          <br/>
          <br/>
        
          <!-- <div class ="center">
            <button class="btn waves-effect waves-light grey" name=""><i class="fab fa-google"></i></button>
            <button class="btn waves-effect waves-light grey" name=""><i class="fab fa-facebook"></i></button>
            <button class="btn waves-effect waves-light grey" name=""><i class="fas fa-plane-departure"></i></button>
            
          </div>
          <div class="center">Comming soon using OAuth</div> -->

        </form>           
    </section>
    </div>

<span ng-include="'views/footer.html'"></span>