<style>
   * {
      padding:0px;
    }

    .bdr {
        background-color: cyan lighten-4;
    }
    .image {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .col.s12:hover .image {
        opacity: 0.3;
    }

    .col.s12:hover .middle {
        opacity: 1;
    }

    /* main {
        flex: 1 0 auto;
    } */

</style>

<div ng-controller="ProfileCtrl" ng-cloak="">
<span ng-include="'views/header.html'"></span>
<!-- <script type="text/ng-template" id="editModal.html">
    <div id="editModal" class="modal">
        <div class="modal-content">
            <h4>Edit Your Profile Information</h4>
            <form class="card-panel lighten-2 grey " style="width: auto;" method="post" name="registerForm">
                <div class="input-field col s12">
                    <label for="email">Email:</label>
                    <input class="validate" type="email" id="email" name="email" ng-model="email" required/>
                    <span ng-show="loginForm.email.$touched && loginForm.email.$invalid">Please enter a valid email.</span>
                </div>
                <div class="input-field col s12">
                    <label for="bdr">BDR:</label>
                    <input type="text" id="bdr" ng-model="bdr" required/>
                </div>

                <div class="input-field col s12">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" ng-model="phone"/>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat" ng-click="cancel()">Cancel</a>
            <a href="#" class="modal-close waves-effect waves-green btn-flat" ng-click="save()">Save</a>
        </div>
    </div>
</script> -->

<main>
    <div class="container section">
        <div class="row">
            <div class="col s12">
                <img class="image" ng-src="../img/profile.png" alt="Profile Picture" style="width: 100%; max-width: 200px; height: auto;">
                <div class="middle left">
                        <a class="waves-effect waves-circle waves-light btn-floating green " ng-click="register(app)" >
                                <i class="large material-icons">edit</i>
                        </a> 
                </div>
                <div class="col s12">
                    <span class="bdr flow-text">{{fname}} {{lname}}</span>
                </div>
                                 
            </div>   
            <div class="col s12">
                <div class="card blue-grey lighten-4">
                    <div class="card-content">
                        <span class="card-title center">Profile Information</span>
                        <h6><em>Email:</em> {{email}}</h6>
                        <br><br>
                        <div class="card-action">
                                <button href="#editModal" ng-click="editProfile()" modal open="openModal" class="btn black-text modal-trigger">Edit Information</button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script>
    $(document).ready(function(){
       $('.modal').modal();
     });
   </script>
       
<span ng-include="'views/footer.html'"></span>
