
@media(max-width:600px) {
  * {
    text-align: center;
  }
  
}

* {
  font-family: 'Montserrat', sans-serif
}

.nav-wrapper.default{
  background-color: #0FB786;
  transition: 0.8s;
}

.nav-wrapper.scrolled {
  background-color: white;
  transition: 0.8s;
  box-shadow: 0 0 4pt 3pt #DEDDDD;
}

.main-container {
  background-color:	#0FB786;
  padding-bottom: 50px;
}

.title-container {
  padding-top: 3%;
  max-height: 300px;
}

.image-container {
  max-width: 300px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.nav-wrapper.default .floatbtn {
  font-weight: 500;
  font-size: 1.1em;
  border: 2px solid #0FB786;
  border-radius: 100px;
  color : #0FB786;
  background-color: #0FB786;
  padding: 7px 20px;
  margin-right: 15px;
}

.nav-wrapper.scrolled .floatbtn {
  font-weight: 500;
  font-size: 1.1em;
  border: 2px solid white;
  border-radius: 100px;
  color : white;
  background-color: #0FB786;
  padding: 7px 20px;
  margin-right: 15px;
}

.title {
  font-family: 'Cookie', cursive;
  color: white;
  margin: auto;
  font-size: 10vmin;
  text-shadow: 2px 2px 1px #686b6a;
  max-height: 100%;
  
}

.subtitle {
  font-weight: 300;
  font-size: 1.6em;
  color: white;
  margin: 3% 0;
}

.loginbtn {
  color: #0FB786;
  border-radius: 100px;
  padding: 0 16%;
  font-weight: bold;
  font-size: 1.2em;
  box-shadow: 0 1px 2px 1px #8a8c;
}

.text-under-main {
  color:  #0FB786;
  font-size: 1.7em;
  text-align: center;
}

.graphic-container {
  margin: 10% 0;
}

.pic-header {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.pic-description {
  text-align: center;
  font-size: 1.1em;
}

.graphic {
  max-width: 150px;
  max-height: 110px;
}

.grey-background {
  background-color: #e1e1e1;
  padding: 1.5% 10% 3% 10%;
  margin-top: 30px;
}

.text-under-main-description {
  font-size: 1.2em;
  line-height: 1.8;
  letter-spacing: 0.7pt;
}