<div class="navbar-fixed">
  <nav class="z-depth-0">
    <div class="nav-wrapper default">
        <ul class="right">
          <li><button routerLink="/login"  class="waves-effect waves-light floatbtn">SIGN IN</button></li>
        </ul>
    </div>
  </nav>
</div>

<div class="main-container">
  <div class="container">
    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m2 image-container">
          <img class="logo" src="assets/img/sage_icon_landing.png">
        </div>
        <div class="col s12 m6 title-container">
          <div class="col s12">
            <h1 class="title">Ask Sage</h1>
          </div>
          <div class="col s12">
            <h5 class="subtitle">Broker questions. Answered.</h5>
          </div>
          <div class="col s12">
            <a routerLink="/login" id="loginbtn" class="btn-large loginbtn waves-effect waves-green white">SIGN IN</a>
          </div>
      </div>
    </div>
  </div>
</div>
<br>  
<div class="row">
  <div class="col s12">
    <div class="container">
      <p class="text-under-main">
        The fastest and easiest way to connect with your Insurance partners. 
        Get answers on your mobile, PC or Alexa&trade; device. Wherever you are, Sage is there to help.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m4">
    <div class="container">
      <div class="graphic-container center">
        <img class="graphic" src="assets/img/graphic1.png">
      </div>
      <h3 class="pic-header">ONE SITE MULTIPLE INSURERS</h3>
      <p class="pic-description">All your insurance partners in one spot. No more signing into multiple portals.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="container">
      <div class="graphic-container center">
          <img class="graphic" src="assets/img/graphic2.png">
      </div>
      <h3 class="pic-header">INTERACT WITH CHAT OR VOICE</h3>
      <p class="pic-description">Ask questions naturally. The more you ask Sage, the better she gets at getting you answers.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="container">
        <div class="graphic-container center">
            <img class="graphic" src="assets/img/laptopgraphic.png">
        </div>
      <h3 class="pic-header">WORKS WHEREVER YOU ARE</h3>
      <p class="pic-description">Access Sage on multiple types of devices such as your mobile, laptop or Alexa&trade;</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="container">
      <p class="text-under-main">
        How Sage helps brokers.
      </p>
      <p class="pic-description"> 
        Sage is a Virtual Assistant powered by industry leading Natural Language Processing (NLP) technology and has been specifically trained to understand the world
        of insurance. The same technology that helps thousands of consumers chat with their Broker is now being used to let Brokers chat with 
        their insurance partners. Have a product question? Ask Sage. Want to check the status of a claim? Ask Sage. Need to start a claim
        for a client? Ask Sage.
      </p>
    </div>
  </div>
</div>

<br><br><br>
<div class="footer-container">
  <div class="row">
    <div class="col s12 m8">
      <p class="copyright-text">
        Ask-Sage is being developed by ProNavigator. Wawanesa Insurance is a content partner. <br>&copy; 2018 - All rights reserved
      </p>
    </div>
    <div class="col s12 m4 center">
      <img class="copyright-graphic" src="assets/img/wawa.png">
      <img class="copyright-graphic" src="assets/img/pronavlogo.png">
    </div>
  </div>
</div>
  

