<div class="fixed-action-btn ">


  <!-- <div class="chip hoverable black-text" style ="border:2px solid white ;border-radius: 5px; background-color:#FFEED9 ; padding: 2px;font-family: 'Montserrat', sans-serif; font-size: smaller;  font-weight: normal;">
    
    <div>Hi I`m Sage, I`m here to help.</div> 
    <div>Ask me a question and let`s chat! </div>
    
    <i class="close material-icons">close</i>
  </div> -->


  <div class="col s12 m5" style="">

    <div *ngIf="!dismiss">

      <div class="hoverable " id="txt-msg" style=" border:2px solid white ;border-radius: 5px; background-color:#FFEED9 ; padding: 10px;font-family: 'Montserrat', sans-serif; font-size: smaller;  font-weight: normal;">
        <i class="material-icons right " (click)="dismiss=!dismiss">{{dismiss ? 'check' : 'close'}} </i>


        <div class="black-text" style="font-weight: normal; letter-spacing: normal"> Hi I`m Sage, I`m here to help.</div>
        <div class="black-text" style="font-weight: normal; letter-spacing: normal">Ask me a question and let`s chat!</div>
      </div>
    </div>

    <div class="">
      <img class="right hoverable" style="height:15vmin; border:5px solid #0FB786 ;border-radius: 1000px;padding:2px; background-color: white "
        src="assets/img/ask_sage_icon.png">
    </div>





  </div>

</div>


<!-- <iframe id="web-messenger-container" title="Pronav Chatbot" allowfullscreen="" scrolling="no" class="_2ChX4GFAl1-UBiWknYZyEQ" style="border: none;" width="99" height="119">
</iframe> -->