#x {
    position: absolute;
    background:grey;
    color: white;
    top: -5px;
    right: 0px;
    border-radius: 10px;
}


#btnControl {
    display: none;
}

#btnControl:checked + label > img {
    width: 70px;
    height: 74px;
}
