        # Note: You should disable gzip for SSL traffic.
        # See: https://bugs.debian.org/773332
        #
        # Read up on ssl_ciphers to ensure a secure configuration.
        # See: https://bugs.debian.org/765782
        #


# Virtual Host configuration for ask-sage.com
#

# proxy_cache_path  /var/cache/nginx/api levels=1 keys_zone=api:10m;

#Redirect HTTP to HTTPS
server{
    listen 80;
    listen [::]:80;

    server_name www.ask-sage.com;
    return 301 https://www.ask-sage.com;

    #Only required by letsencrypt
    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
    }
}

# https://www.ask-sage.com
server {
    listen 443;
    listen [::]:443;

    server_name www.ask-sage.com ask-sage.com;

    ssl on;
    ssl_certificate           /etc/letsencrypt/live/www.ask-sage.com/fullchain.pem;
    ssl_certificate_key       /etc/letsencrypt/live/www.ask-sage.com/privkey.pem;

    location / {proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_redirect off;
     }


    error_page 502 /502.html;

    location /502.html {
        root /var/www/html;
    }
}


# https://www.ask-sage.ca
server {
    listen 443;
    listen [::]:443;

 server_name www.ask-sage.ca ask-sage.ca;
 
    ssl on;

    ssl_certificate           /etc/letsencrypt/live/www.ask-sage.ca/fullchain.pem;
    ssl_certificate_key       /etc/letsencrypt/live/www.ask-sage.ca/privkey.pem;


    location / {
        proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_redirect off;    
        }


    error_page 502 /502.html;

    location /502.html {
        root /var/www/html;
    }
}
