<app-header></app-header>
<div class="container">
    <div class="row card-panel">
        <div class="col s12">
            <div class="title">Profile</div>
        </div>
        <div *ngIf="brokerModel.email && this.isEdit == null">
            <div class="col s12">
                <br><br>
            </div>
            <div class="col s12 box">
                <div class="subtitle">Your Information</div>
                <div class="subtext">{{brokerModel.name}}</div>
                <div class="subtext">{{brokerModel.email}}</div>
                <div class="subtext">{{brokerModel.brokerage}}</div>
            </div>
            <div class="col s12">
                <br>
            </div>
            <div class="col s12 box">
                <div class="subtitle">Insurance Carrier Information</div>
                <div class="subtext">{{brokerModel.bdr.name}}</div>
                <div class="subtext">{{brokerModel.bdr.role}}</div>
                <div class="subtext">{{brokerModel.bdr.email}}</div>
                <div class="subtext">{{brokerModel.bdr.phone}}</div>
                <div class="subtext">{{brokerModel.bdr.company}}</div>
                <br>
                <div class="subtext">{{brokerModel.bdr.address.street}}</div>
                <div class="subtext" >{{brokerModel.bdr.address.city}}
                    <span *ngIf="brokerModel.bdr.address.city && brokerModel.bdr.address.province">,</span> 
                {{brokerModel.bdr.address.province | uppercase}}</div>
                <div class="subtext">{{brokerModel.bdr.address.postalCode | uppercase}}</div>
                <div class="editbutton">
                        <a (click)="isEdit = true">Edit</a>
                </div>
            </div>
        </div>
        <div *ngIf="isEdit">
            <div class="col s12">
                <div class="editsubtitle">Tell us a bit about yourself and who you work with.</div>
            </div>
            <form (ngSubmit)="saveInfo(editForm.value.password)" #editForm="ngForm">
                <div class="col s12">
                    <div class="subtitle">Your Information</div>
                </div>
                <div class="col s12">
                    <input disabled value="" name="Email" [(ngModel)]="brokerModel.email" type="text">
                </div>
                <div class="col s12">
                    <input placeholder="Name" name="Name" [(ngModel)]="brokerModel.name" type="text">
                </div>
                <div class="col s12">
                    <input placeholder="Brokerage" name="Brokerage" [(ngModel)]="brokerModel.brokerage" type="text">
                </div>
                <div *ngIf="changePass">
                    <div class="col s12">
                        <div class="subtitle">
                            Change your Password
                        </div>
                        <div class="hidden-pass-icon-container">
                            <i id="hidden-pass" class="material-icons prefix " (click)="hide1 = !hide1">
                                {{hide1 ? 'visibility_off' : 'visibility'}} </i>
                        </div>
                        <input placeholder="New Password" type="password" name="password" #password="ngModel" minlength=8 ngModel
                        (keyup)="checkPasswords(password.value, confirmpassword.value)" [class.invalid]="password.invalid && password.touched"
                        [type]="hide1 ? 'password' : 'text'"/>
                        <span class="error-password" *ngIf="password.invalid && password.touched">Please enter a password 8 characters long</span>
                        
                        <div class="hidden-pass-icon-container">
                            <i id="hidden-pass" class="material-icons prefix " (click)="hide2 = !hide2" [class.extramargin]="password.invalid && password.touched"> 
                                {{hide2 ? 'visibility_off' : 'visibility'}} </i>
                        </div>
                        <input placeholder="Confirm Password" [class.invalid]="notEquivalent && confirmpassword.touched" 
                        (keyup)="checkPasswords(password.value, confirmpassword.value)" [type]="hide2 ? 'password' : 'text'"
                        type="password" name="confirmpassword" ngModel #confirmpassword="ngModel"/>
                        <span class="error-password" *ngIf="notEquivalent && confirmpassword.touched">Passwords are not the same</span>
                    </div>
                </div>
                <div *ngIf="!changePass" style="padding-left: 10px">
                    <button (click)="this.changePass = true" class="btn col s12 m6 offset-m3 loginbtn z-depth-0">CHANGE PASSWORD</button>
                </div>
                    <div class="col s12">
                        <br><br><br><br>
                        <div class="subtitle">Your Insurance Carrier Information</div>
                    </div>
                    <div class="col s12">
                        <input placeholder="Name" type="text" name="bdrName" [(ngModel)]="brokerModel.bdr.name">
                    </div>
                    <div class="col s12">
                        <input placeholder="Role" type="text" name="bdrRole" [(ngModel)]="brokerModel.bdr.role">
                    </div>
                    <div class="col s12">
                        <input placeholder="Email" [class.invalid]="bdrEmail.invalid" type=email name="bdrEmail" [(ngModel)]="brokerModel.bdr.email" email #bdrEmail="ngModel">
                        <span class="error-password" *ngIf="bdrEmail.invalid && bdrEmail.touched">Please enter a valid email</span>
                    </div>
                    <div class="col s12">
                        <input placeholder="Phone" [class.invalid]="bdrPhone.invalid" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" 
                        type="text" name="bdrPhone" #bdrPhone="ngModel" [(ngModel)]="brokerModel.bdr.phone">
                        <span class="error-password" *ngIf="bdrPhone.invalid && bdrPhone.touched">Please enter a valid phone number</span>
                    </div>
                    <div class="col s12">
                        <input  placeholder="Company" type="text" name="bdrCompany" [(ngModel)]="brokerModel.bdr.company">
                    </div>
                    <div class="col s12">
                        <br>
                    </div>
                <div *ngIf="brokerModel.bdr.address">
                    <div class="col s12">
                        <input placeholder="Address" type="text" name="bdrStreet" [(ngModel)]="brokerModel.bdr.address.street">
                    </div>
                    <div class="col s12">
                        <input placeholder="City" type="text" name="bdrCity" [(ngModel)]="brokerModel.bdr.address.city" >
                    </div>
                    <div class="col s12 m7">
                        <input placeholder="Province" type="text" name="bdrProvince"  [class.invalid]="bdrProvince.invalid"
                        pattern="^[A-Za-z]{2}$" #bdrProvince="ngModel"[(ngModel)]="brokerModel.bdr.address.province" >
                        <span class="error-password" *ngIf="bdrProvince.invalid && bdrProvince.touched">Please enter the abbreviated province name</span>
                    </div>
                    <div class="col s12 m5">
                        <input placeholder="Postal Code" type="text" [class.invalid]="bdrPostalCode.invalid" name="bdrPostalCode" 
                        pattern="^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$" #bdrPostalCode="ngModel" [(ngModel)]="brokerModel.bdr.address.postalCode" >
                        <span class="error-password" *ngIf="bdrPostalCode.invalid && bdrPostalCode.touched">Please enter a valid postal code</span>
                    </div>
                    <button [disabled]="editForm.form.invalid || notEquivalent" type="submit" class="btn loginbtn z-depth-0">SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>