<app-header></app-header>
<div class="container">
    <div class="row card-panel">
        <div class="col s12">
            <div class="title">Profile</div>
        </div>
        <div *ngIf="brokerModel.email && this.isEdit == null">
            <div class="col s12">
                <br><br>
            </div>
            <div class="col s12 box">
                <div class="subtitle">Your Information</div>
                <div class="subtext">{{brokerModel.name}}</div>
                <div class="subtext">{{brokerModel.email}}</div>
                <div class="subtext">{{brokerModel.brokerage}}</div>
            </div>
            <div class="col s12">
                <br>
            </div>
            <div class="col s12 box">
                <div class="subtitle">Insurance Carrier Information</div>
                <div class="subtext">{{brokerModel.bdr.name}}</div>
                <div class="subtext">{{brokerModel.bdr.role}}</div>
                <div class="subtext">{{brokerModel.bdr.email}}</div>
                <div class="subtext">{{brokerModel.bdr.phone}}</div>
                <div class="subtext">{{brokerModel.bdr.company}}</div>
                <br>
                <div class="subtext">{{brokerModel.bdr.address.street}}</div>
                <div class="subtext">{{brokerModel.bdr.address.city}}, {{brokerModel.bdr.address.province | uppercase}}</div>
                <div class="subtext">{{brokerModel.bdr.address.postalCode | uppercase}}</div>
                <div class="editbutton">
                        <a (click)="activateEdit()">Edit</a>
                </div>
            </div>
        </div>
        <div *ngIf="isEdit">
            <div class="col s12">
                <div class="editsubtitle">Tell us a bit about yourself and who you work with.</div>
            </div>
            <form (ngSubmit)="saveInfo()">
                <div class="col s12">
                    <div class="subtitle">Your Information</div>
                </div>
                <div class="col s12">
                    <input disabled value="" name="Email" [(ngModel)]="brokerModel.email" type="text">
                </div>
                <div class="col s12">
                    <input placeholder="Name" name="Name" [(ngModel)]="brokerModel.name" type="text">
                </div>
                <div class="col s12">
                    <input placeholder="Brokerage" name="Brokerage" [(ngModel)]="brokerModel.brokerage" type="text">
                </div>
                <div *ngIf="brokerModel.bdr">
                    <div class="col s12">
                        <br>
                        <div class="subtitle">Your Insurance Carrier Information</div>
                    </div>
                    <div class="col s12">
                        <input placeholder="Name" type="text" name="bdrName" [(ngModel)]="brokerModel.bdr.name">
                    </div>
                    <div class="col s12">
                        <input placeholder="Role" type="text" name="bdrRole" [(ngModel)]="brokerModel.bdr.role">
                    </div>
                    <div class="col s12">
                        <input class="validate" placeholder="Email" type="email" name="bdrEmail" [(ngModel)]="brokerModel.bdr.email">
                    </div>
                    <div class="col s12">
                        <input placeholder="Phone" type="text" name="bdrPhone" [(ngModel)]="brokerModel.bdr.phone">
                    </div>
                    <div class="col s12">
                        <input  placeholder="Company" type="text" name="bdrCompany" [(ngModel)]="brokerModel.bdr.company">
                    </div>
                    <div class="col s12">
                        <br>
                    </div>
                    <div class="col s12">
                        <input placeholder="Address" type="text" name="bdrStreet" [(ngModel)]="brokerModel.bdr.address.street">
                    </div>
                    <div class="col s12">
                        <input placeholder="City" type="text" name="bdrCity" [(ngModel)]="brokerModel.bdr.address.city">
                    </div>
                    <div class="col s12 m7">
                        <input placeholder="Province" type="text" name="bdrProvince" [(ngModel)]="brokerModel.bdr.address.province">
                    </div>
                    <div class="col s12 m5">
                        <input placeholder="Postal Code" type="text" name="bdrPostalCode" [(ngModel)]="brokerModel.bdr.address.postalCode">
                    </div>
                        <input type="submit" class="btn loginbtn z-depth-0" value="SAVE" />
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>