<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">

                <a class="left hide-on-small-and-down" style="height: 100%; background: white;">
                    <!-- <img src="../assets/wawa.png" style="height: 100%;"> -->

                </a>
                <a class="brand-logo center ">{{ title }}
                </a>
                <ul id="nav-web" class="right hide-on-med-and-down">
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a routerLink="/profile">Profile</a>
                    </li>
                    <li>
                        <a routerLink="/feedback">Feedback</a>
                    </li>
                    <li>
                        <a (click)="logoff()"> Logoff </a>

                    </li>
                </ul>
                <div>
                    <a class="sidenav-trigger right" data-target="mobile-menu" (click)="sideNavTrig()">
                        <i class="material-icons">menu</i></a>
                </div>
            </div>
        </nav>
    </div>

    <ul class="sidenav right" id="mobile-menu">
        <li>
            <div>
                <div class="white background">
                    <!-- <img class ="responsive-img" ng-src="../img/Logo.jpg"> -->
                </div>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a href="#!chat">Chat</a></li>
        <li><a routerLink="/feedback">Feedback</a></li>
        <li>
            <a (click)="logoff()"> Logoff</a>
        </li>
    </ul>
</header>

