<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper  green darken-3" >        

                <ul id="nav-web" class="right hide-on-med-and-down">
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a routerLink="/profile">Profile</a>
                    </li> 
                    <li>
                        <a ng-click="logoff(app)"> Logoff </a> 
                        
                    </li>
                </ul>
                <div>
                    <a data-target="mobile-menu" class="sidenav-trigger right">
                    <i class="material-icons">menu</i></a>
                </div>
                    
            </div>
        </nav>
    </div>

     <ul class="sidenav" id="mobile-menu">
                <li><div>
                    <div class="white background">
                    <!-- <img class ="responsive-img" ng-src="../img/Logo.jpg"> -->
                    </div>
                    </div></li>
                <li><div class="divider"></div></li>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/profile">Profile</a></li>
                <!-- <li><a href="#!chat">Chat</a></li> -->
                <!-- <li><a routerLink="feedback">Feedback</a></li> -->
                <li>
                    <!-- <a href="#!login" ng-click="logoff(app)"> Logoff</a> -->
                </li> 
            </ul>
</header>

