<header>
    <div class="navbar-fixed">
        <nav>

            <div class="nav-wrapper">
                    <!-- <a href="#" class=" title brand-logo hide-on-med-only">Ask Sage</a> -->
                    

                <ul class="right hide-on-small-only">
                    <li>
                        <a routerLink="/news" routerLinkActive="active">NEWS</a>
                    </li>
                    <li>
                        <a routerLink="/feedback" routerLinkActive="active">FEEDBACK</a>
                    </li>
                    <li>
                        <a routerLink="/profile" routerLinkActive="active">PROFILE</a>
                    </li>
                    <li>
                        <a (click)="logoff()"> LOGOUT </a>

                    </li>
                </ul>
                <div>
                    <a class="sidenav-trigger hide-on-med-and-up" data-target="mobile-menu" (click)="sideNavTrig()">
                        <i class="material-icons">menu</i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-menu">
        <li class="sidenav-close">
            <i class="material-icons">close</i>
        </li>
        <li><a class="sidenav-close" routerLink="/news" routerLinkActive="active">NEWS</a></li>
        <li><a class="sidenav-close" routerLink="/feedback" routerLinkActive="active">FEEDBACK</a></li>
        <li><a class="sidenav-close" routerLink="/profile" routerLinkActive="active">PROFILE</a></li>
        <li>
            <a class="sidenav-close" (click)="logoff()"> LOGOUT</a>
        </li>
    </ul>
</header>