/* .card-title {
    display:inline-block;
    width:100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
} */

* {
    font-family: 'Montserrat', sans-serif;
  }