


<div class="container row">
    <h5>{{ title }}</h5>
    

  <div *ngFor="let item of newsFeed">


    <div *ngIf="item.urlToImage">
      <div class="col s12 m12 l6 ">


        <div class="card hoverable">
          <div class="card-image">


            <div style="overflow: hidden; height:10em">
              <img [src]="item.urlToImage">
            </div>

            <span class="card-title truncate" >{{item.title}}</span>
          </div>
          <div class="card-stacked">
            <div class="card-content ">
              <p class="flow-tex" style="overflow: hidden; height:100px" > {{item.description}}
              </p>
            </div>
            <div class="card-action">
              <a href="{{item.url}}">Link to source</a>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>