span, p {
    font-family: 'Montserrat' , sans-serif;
}

.main-title {
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 50px;
}

.main-container {
    padding: 0 20%;
}

.card-content {
    padding-left: 8%;
    padding-right: 8%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating)  {
    color: black;
    font-family: 'Montserrat' , sans-serif;
    margin-right: 0;
    font-size: 0.9em;
}

.material-icons {
    max-height: 100%;
}

img {
    max-height : 30em;
    overflow: hidden;
}

.card-title {
    font-weight: 600;
}

.sub-title{
    font-weight: 300;
}

.reveal-title {
    font-size: 1.3em;
    font-weight: 600;
}

.card-image.not-loaded {
    background: #d8d8d8;
    height: 20em;
    margin-top: 20px;
}

.card-content.not-loaded {
    padding: 5%;
    border: 1px solid #d8d8d8;
}

.line {
    height: 20px;
    margin-top: 10px;
    animation: slide 1s infinite ease-in-out;
    width: 100%;
    background: #d8d8d8;
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    animation: shine 1.5s infinite;
}

.card-action.not-loaded {
    padding: 3% 5%;
    border: 1px solid #d8d8d8;
    border-top: none;
    margin-bottom: 20px;
}

.not-loaded-action {
    height: 20px;
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    animation: shine 1.5s infinite;
    background: #d8d8d8;
}

/* Take out unessessary margins */
.col .row {
    margin: 0;
}

@keyframes shine {
    from {
        mask-position: 150%;
    }
    to {
        mask-position: -50%;
    }
}