* {
    font-family: 'Montserrat', cursive;
}

.card-panel {
    padding: 0 20% 10% 20%;
    box-shadow: 0 0 4pt 3pt #DEDDDD;
}

.container {
    padding: 5% 10%;
}

.title {
    padding-top: 5%;
    color: #0FB786;
    font-size: 2em;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #0FB786;
    box-shadow: 0 1px 0 0 #0FB786;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #0FB786;
    box-shadow: 0 1px 0 0 #0FB786;  
}

.loginbtn {
    border-radius: 100px;
    background-color: #0FB786;
    color: white;
    padding: 0 10%;
    margin-top: 15px;
}

.error-text {
    font-weight: 600;
    color: rgb(221, 66, 66);
}
