<div class="container">
  <form class="row card-panel center" #forgotPasswordForm="ngForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
    <h4 class="title">Reset Your Password</h4>
    <br><br><br><br><br>
      <div class="input-field col s12">
          <label for="email">Email:</label>
          <input type="email" name="email" class="validate" ngModel required />
      </div>
      <div class="col s12">
          <div *ngIf="isError">
            <span class="error-text">Please enter a valid email!</span>
          </div>
        <input type="submit" class="btn loginbtn z-depth-0" value="Send email"/>
      </div>
  </form>
</div>
<br><br><br><br><br>
<app-footer></app-footer>

