<!-- 
<div class="form-group"
[class.has-error]="password.touched && password.invalid">
<label for="password" class="control-label">Password</label>
<input id="password" required type="text" class="form-control"
    name="password" 
    [(ngModel)]=""
    
    #password="ngModel">
<span class="help-block"
   *ngIf="password.touched && password.errors?.required">
Password is required
</span>
</div>

<div class="form-group"
[class.has-error]="confirmPassword.touched && confirmPassword.invalid">
<label for="confirmPassword" class="control-label">Confirm Password</label>
<input name="confirmPassword" appConfirmEqualValidator="password" required
    id="confirmPassword" type="text" class="form-control"
    [(ngModel)]="" #confirmPassword="ngModel">
<span class="help-block"
   *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
Confirm Password is required
</span>
<span class="help-block"
   *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
     !confirmPassword.errors?.required">
Password and Confirm Password does not match
</span>
</div> -->

<section>
  <form class="main-container" #forgotPasswordForm="ngForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
      <fieldset>
        <legend>Reset password form</legend>
        <div>
          <label for="email">Email:</label>
          <input type="text" name="email" />
        </div>
        <div>
          <input type="submit" value="Reset password"/>
        </div>
      </fieldset>
    </form>
  </section>