<style>

  
</style>

<app-header></app-header>
<script>
M.AutoInit();
</script>


<div class="row" id="background">
  <div class="col s10 offset-s1 l8 offset-l2 card-panel">


    <div class="head-container">
      <img class="logo" src="assets/img/ask_sage_icon.png">

      <h1 class="feedback-title">Feedback</h1>
      <h5 class="feedback-subtitle" id="feedback-subtitle">Help us make Sage smarter by telling us a bit about your
        experience.</h5>
    </div>


    <form action="#" id="feedbackForm" #feedbackForm="ngForm" (ngSubmit)="onSubmit(feedbackForm.value)">

      <div class="quest-container">
        <!-- <hr> -->
        <h5 class="question-title">1. If Sage could answer your key question, how often would you interact with Sage?</h5>
        <p>
          <label>
            <input class="with-gap" name="q1" type="radio" value="daily" ngModel />
            <span class="ans-optn">Daily</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q1" type="radio" value="weekly" ngModel />
            <span class="ans-optn">Weekly</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q1" type="radio" value="monthly" ngModel />
            <span class="ans-optn">Monthly</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q1" type="radio" value="never" ngModel />
            <span class="ans-optn">Never</span>
          </label>
        </p>

      </div>


      <div class="quest-container">
        <hr>
          <h5 class="question-title">2. What method(s) would you use to interact with Sage?</h5>
          <p>
            <label>
              <input type="checkbox" name="q2[Desktop Chat]" value="true" ngModel checked="checked" ngModel/>
              <span class="ans-optn">Desktop Chat</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" name="q2[Mobile Chat]" value="true" checked="checked" ngModel />
              <span class="ans-optn">Mobile Chat</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" name="q2[Voice]" value="true" checked="checked" ngModel />
              <span class="ans-optn">Voice</span>
            </label>
          </p>
      </div>

      <div class="quest-container">
        <hr>
        <h5 class="question-title">3. What other question(s) would you want Sage to answer for you?</h5>
        <textarea id="textarea1" class="materialize-textarea" placeholder="Click in the box to enter feedback" name="q3" ngModel></textarea>
      </div>

      <div class="quest-container">
        <!-- <hr> -->
        <h5 class="question-title">4. We would love to hear any other feedback you have for Sage?</h5>
        <textarea id="textarea1" class="materialize-textarea" placeholder="Click in the box to enter feedback" name="q4"></textarea>
      </div>




      <input type="submit" class="btn loginbtn z-depth-0 right" value="Submit">

    </form>
  </div>
</div>


<app-chat></app-chat>

<span ng-include="'views/footer.html'"></span>